@import "../../../styles/isd-variables.scss";
@import '../../../styles/isd-mixins.scss';

:host {
    position: relative;
    bottom: 0;
}

.isd-footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    $padding-horizontal: 2rem;
    color: rgba(white, .5);
    @include simpleFlexLayout($gap: 0);

    .footer-wrapper {
        @include simpleFlexLayout($direction: row, $justify-content: center, $gap: 0);
    }

    .footer-section {
        width: 80%;
        padding: 2*$default-gap $default-gap;
    }

    .top-footer-wrapper {
        background-color: $primary-dark-bg-color;
        @extend .footer-wrapper;

        .top-footer {
            @extend .footer-section;
            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            column-gap: $default-gap;

            .isd-info {
                text-align: left;
                @include simpleFlexLayout();

                .social-icon {
                    margin-left: $default-gap;
                    &:first-child {
                        margin: 0;
                    }                    
                    @include fontHoverWhite();
                }
            }

            .footer-section-header {
                color: white;
                font-size: $font-size-slightly-smaller;
            }

            .isd-info-links {
                @include simpleFlexLayout();
            }

            .isd-about-links {
                @extend .isd-info-links;
            }

            .footer-link {
                @include fontHoverWhite();
            }
        }
    }

    .bottom-footer-wrapper {
        @extend .footer-wrapper;
        background-color: $primary-darker-bg-color;

        .bottom-footer {
            @extend .footer-section;
            @include simpleFlexLayout($direction: row, $justify-content: space-between, $gap: 0);

            .backToTop {
                display: flex;
                flex-direction: row;
                gap: .5rem;
                align-items: center;
                @include simpleFlexLayout($direction: row, $align-items: center, $gap: 0.5*$default-gap);
                &:hover {
                    color: white;
                }
            }
        }
    }

}