<div class="person" [ngClass]="{'additional-info-visible': additionalInfoVisible}">
    <div class="items-container">
        <div class="left">

            <img src="assets/mock_chair_img/{{person.image}}" alt="Person Image">

            <!-- {{this.toggleCountService.getNumberOfToggles()}} -->
            <!-- {{this.toggleCountService.getNumberOfToggles()}} -->
            <div class="speaker">{{person.name}}</div>
            <div class="from">{{person.from}}</div>
            <div class="title2">{{person.title}}</div>
            <button class="show-info-btn" (click)="toggleAdditionalInfo()">More Info</button>
        </div>
         <div class="right" *ngIf="additionalInfoVisible"> 
            <div class="abstract"><b>Abstract:</b> {{person.abstract}}</div>
            <br>
            <div class="about"><b>About the Speaker: </b>{{person.about}}</div>
        </div>
    </div>
</div>
