<div class="container my-3 ">
    <div class="d-flex flex-column bd-highlight">
      <div class="text-center">
        <button class="btn btn-success btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Register
        </button>
      </div>
      <div class="collapse" id="collapseExample">
        <div class="card card-body custom-card mt-3">
          <iframe src="https://moduly.ug.edu.pl/registration_forms/index.php?conference=isd" frameborder="0" width="100%" height="1800"></iframe>
        </div>
      </div>
    </div>
  </div>
  