<div class="organizor_description">
  <div class="info">
    <div class="title no-padding-top">ORGANIZATOR</div>
    <div class="title small-title">PROIDEA Sp. z o.o.</div>
    <div class="title small-title">Zakopiańska 9,
      30-418 Kraków,
      Małopolska, Poland
      </div>
    <a class="title small-title underline" href="wp.pl">proidea.pl</a>
    <div class="title small-title">rejestracja</div>
    <button class="button-default button-blue-light" data-test-id="contact-organizer-button">Kontakt</button>
  </div>
  <div class="logo-container">
    <!-- <a routerLink="/">
        <img src="../../../../assets/isd-logo-white.png" class="isd-logo" alt="No image provided">
    </a> -->
  </div>
</div>