<div class="organizor_description">
    <div class="title no-padding-top">ORGANIZATOR</div>
    <div class="title small-title">PROIDEA Sp. z o.o.</div>
    <div class="title small-title">Zakopiańska 9,
      30-418 Kraków,
      Małopolska, Poland
      </div>
    <a class="title small-title underline" href="wp.pl">proidea.pl</a>
    <div class="title small-title">rejestracja@proidea.org.pl</div>
    <button class="button-default button-blue-light" data-test-id="contact-organizer-button">Kontakt</button>
  </div>