<div class="countdown-clock-wrapper">
    <isd-section-header>
        ISD {{ YEAR }} Conference
    </isd-section-header>
    <div class="countdown-clock">
        <div class="countdown-block">
            <div class="time-value">
                {{ timeLeft.days }}
            </div>
            <div class="unit">
                Days
            </div>
        </div>
        <div class="separator">:</div>
        <div class="countdown-block">
            <div class="time-value">
                {{ timeLeft.hours }}
            </div>
            <div class="unit">
                Hours
            </div>
        </div>
        <div class="separator">:</div>
        <div class="countdown-block">
            <div class="time-value">
                {{ timeLeft.minutes }}
            </div>
            <div class="unit">
                Minutes
            </div>
        </div>
    </div>
</div>
