<div class="call-for-papers">
    <isd-page-header title="Call for Papers"></isd-page-header>
    <isd-section class="info-text-section" [padding]="PADDING_BETWEEN_SECTIONS">
      <div class="text-wall">
        <isd-paragraph class="text-section">
          The ISD 2024 conference aims to advance research on the methodological and technological
          advancements in information systems and how they transform organizations and society.
        </isd-paragraph>
        <isd-paragraph class="text-section">
          The conference will be held in the so-called Tri-City, Poland – a metropolitan area consisting of three
          contiguous coastal cities forming a row on the coastline of the Gdańsk Bay, Baltic Sea, namely the cities
          of Gdańsk, Gdynia, and Sopot, along with other towns in their vicinity. This metropolitan area of over a million
          people reconciles a millennium of history and a picturesque seaside location with its role as a lively economic,
          scientific, and cultural center of northern Poland. It will be hosted by the University of Gdańsk, a dynamically
          developing institution with over 22,000 students that hosts diverse scientific research across Natural, Formal,
          Social Sciences as well as Humanities. UoG closely cooperates with the University of Technology in Gdańsk as well
          as the Medical University of Gdańsk and is involved in building a network of European universities selected in the
          ‘European Universities’ competition organized by the European Commission.
        </isd-paragraph>
        <isd-paragraph class="text-section">
          Everyone is invited to join this premier event and contribute to shaping the future of information systems
          development methods and technologies. <strong>Diversity and Inclusion</strong> are central to the ISD conference. ISD provides
          a welcoming environment that embraces the value of every individual and fosters the open exchange of ideas,
          along with the freedom of thought and expression. Diversity involves recognizing various talents and is achieved
          when individuals from diverse backgrounds and experiences have the opportunity to express their viewpoints.
          Inclusion entails removing barriers and obstacles that hinder equal access and participation in any conference
          activity, free from discrimination. By participating in ISD 2024, you commit to treating all individuals fairly
          with dignity and respect, refraining from harassment, discrimination, or bullying, and avoiding causing harm to others.
        </isd-paragraph>
        <isd-paragraph class="text-section">
          The ISD Proceedings will be published in the Association for Information Systems (AIS) eLibrary. As per the
          European Union’s open science policy, we implement <strong>Open Access</strong>, i.e., all accepted papers shall be available
          online free of charge to any interested party. The proceedings will be submitted for indexation by <strong>SCOPUS, Google
          Scholar, DBLP, Semantic Scholar, and Web of Science / Conference Proceedings Citation Index</strong>. On top of that,
          Springer Nature shall publish a selection of extended versions of the best papers (per invitation) as a standalone
          volume of the Lecture Notes in Information Systems and Organization (LNISO) series (subject to final approval).
        </isd-paragraph>
      </div>
    </isd-section>
    <hr class="sections-separator">
    <isd-section class="confrence-tracks-section" [padding]="PADDING_BETWEEN_SECTIONS">
      <isd-section-header>
        Conference tracks
      </isd-section-header>
      <div class="text-section">
        <isd-paragraph class="text-section">
          ISD 2024 will be organized around a number of new and well-established tracks:
          <br>
          <ul>
            <li *ngFor="let track of tracks">{{ track }}</li>
          </ul>
          <br>
          See the <a class="call-for-papers-link" routerLink="/tracks">description of these tracks</a> for more information.
        </isd-paragraph>
      </div>
    </isd-section>
    <hr class="sections-separator">
    <isd-section class="types-of-manuscript-section" [padding]="PADDING_BETWEEN_SECTIONS">
      <isd-section-header>
        Types of manuscript
      </isd-section-header>
      <div class="text-wall">
        <isd-paragraph class="text-section">
          <strong>Papers (Full or Short)</strong> pertain to original and previously unpublished research accomplished through a 
          systematic investigation. Contributions must feature tangible findings regarding information systems development 
          or operations that are covered by a specific track. Authors are expected to highlight the research gap and feature 
          the methodology and implications of their research. Specifically, full research papers in their nature should mirror 
          journal submission practices, yet in a more concise form. Please note that depending on reviewers’ feedback and 
          recommendations from Track Chairs, Full Papers may be accepted for publication as Shorts.
        </isd-paragraph>
        <isd-paragraph class="text-section">
          <strong>Posters</strong> convey preliminary work that is not yet fully validated or showcase innovative tools or artifacts contributing 
          to the advancement of research and practice. The authors of posters are expected to clearly communicate the path of 
          further research activities and/or the use of showcased tools/artifacts in ISD practice to the audience. Just as in 
          the case of research papers, the entire body of posters will be included within the AIS eLibrary.
        </isd-paragraph>
        <isd-paragraph class="text-section">
          <strong>Journal-First Papers</strong>: recently published works in reputable journals within the conference’s scope, presented 
          to share and disseminate results with the ISD community.
        </isd-paragraph>
      </div>
    </isd-section>
    <hr class="sections-separator">
    <isd-section class="deadlines-section" [padding]="PADDING_BETWEEN_SECTIONS">
      <isd-section-header>
        Deadlines
      </isd-section-header>
      <div class="text-section">
        <isd-paragraph class="text-section">
          Paper submission: April 16, 2024 <a class="call-for-papers-link" href="https://www.timeanddate.com/worldclock/timezone/utc">UTC time</a> <br>
          Paper notification: June 4, 2024 <br>
          Paper camera-ready submission and Author registration: June 30, 2024
        </isd-paragraph>
      </div>
    </isd-section>
    <hr class="sections-separator">
    <isd-section class="submission-section" [padding]="PADDING_BETWEEN_SECTIONS">
      <isd-section-header>
        Submission
      </isd-section-header>
      <div class="text-wall">
        <isd-paragraph class="text-section">
          All submissions must be in English and submitted to one of the conference tracks through the EasyChair 
          conference management system. <br>
          The maximum length for submissions is as follows:
        </isd-paragraph>
        <isd-paragraph class="text-section">
          <ul>
            <li><strong>Full research papers:</strong> 12 pages, including references and appendices.</li>
            <li><strong>Short research papers:</strong> 8 pages, including references and appendices.</li>
            <li><strong>Posters:</strong> 4 pages, including references and appendices.</li>
            <li><strong>Journal-First papers:</strong> The information about the journal paper is indicated in the 
              EasyChair system, and the PDF file of the original publication (of any length) must be uploaded.</li>
          </ul>
        </isd-paragraph>
        <isd-paragraph class="text-section">
          Should it prove necessary, participants have the option to add a single extra page at a supplementary cost 
          (regardless of the submission type). This applies in particular to manuscripts with numerous authors or with the 
          need to include more extensive acknowledgments. There is no possibility of extending the length of papers by further 
          pages. All submissions (except for Journal-First papers) should be formatted according to the instructions found in 
          the following <strong>templates</strong>
        </isd-paragraph>
        <isd-paragraph class="text-section">
          <ul>
            <li><a class="call-for-papers-link" href="assets/uploads/Author_Guidelines_the_for_Preparation.pdf">PDF document</a></li>
            <li><a class="call-for-papers-link" href="assets/uploads/isd_instructions_for_authors_2024.docx">Microsoft Word template</a></li>
            <li><a class="call-for-papers-link" href="assets/uploads/Author-Guidelines-the-for-Preparation.zip">LaTeX template</a></li>
          </ul>
          <br>
          You can download the referencing style (to use in your reference management software) from the following links:
          <br>
          <ul>
            <li><a class="call-for-papers-link" href="assets/uploads/isd_style.ens">Referencing style .ens</a></li>
            <li><a class="call-for-papers-link" href="assets/uploads/isd_style.csl">Referencing style .csl</a></li>
          </ul>
        </isd-paragraph>
        <isd-paragraph class="text-section">
          While contributors are allowed to use <strong>Generative AI</strong> for certain aspects of their work (for instance, using 
          Grammarly or ChatGPT in editing their writing), we accept only the submissions that solely reflect the humans’ 
          intellectual contributions. Authors are required to disclose (within the acknowledgments) the use of Generative 
          AI for any aspect of the work that goes beyond verifying spelling, grammar, and punctuation.
          <br>
          All manuscripts, except for Journal-First Papers, will undergo a <strong>double-blind peer review process</strong>. 
          To ensure the anonymity of the authors during the review process, the authors must take measures to remove 
          any personally identifying information from the manuscript.
          <br>
          All submissions must be submitted in PDF format through the EasyChair system.
        </isd-paragraph>
      </div>
    </isd-section>
  </div>  