@import '../../styles/isd-variables.scss';
@import '../../styles/isd-mixins.scss';

.home-page-content-wrapper {
    padding-top: $content-gap-from-nav;

    .conference-topics-list {
        list-style-type: initial;
        margin-left: $default-gap*3;
    }

    .home-page {
        &-paragraph {
            font-size: $font-size-slightly-bigger;
            font-family: $primary-font;
        }

        &-section {
            @include simpleFlexLayout($justify-content: center);

            .description-and-twitts {
                display: grid;
                grid-template-columns: 3fr 1fr;
                column-gap: $default-gap;
            }

            .legacy-and-supporters {
                @include simpleFlexLayout($gap: 2*$default-gap);
            }

            @media screen and (max-width: 1100px) {
                .description-and-twitts {
                    @include simpleFlexLayout();
                }
            }
        }
    }
}
