@import "../../../../styles/isd-mixins.scss";
@import "../../../../styles/isd-variables.scss";

.track-container {
    .header-smaller {
        font-size: 0.8em;
    }

    >section {
        margin-top: $default-gap;

        .track-chairs {
            display: grid;
            column-gap: $default-gap;
            grid-template-columns: 1fr 1fr;
        }

        .program-committee {
            padding-left: 2rem;

            .pc-list {
                list-style-type: disc;
                padding: 0;
                margin: 0;
            }
        }
    }

}