@import './styles/isd-variables.scss';

.content-wrapper {
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
        width: 100%;
    }
    .router-content {
        background-color: $white-darker;
        flex: 1;
    }
}
