@import '../../styles/isd-variables.scss';

.travel-information-content-wrapper{
    padding-top: $default-gap;
    .top-text {
        font-family: $roboto;
        color: $black;
        width: 100%;
        text-align: center;
        font-size: $font-size-huge;
        padding-top: 2*$default-gap;
    }
    .sub-header{
        font-family: $roboto;
        color: $black;
        width: 100%;
        text-align: left;
        font-size: $font-size-very-big; 
        padding-top: $default-gap;
    }
    .content{
        font-family: $roboto;
        text-align: left;
        width: 80%;
        float: left;
        padding-left: 20%; 
        padding-bottom: $default-gap;
    }
    .description{
        padding-top: $default-gap;
    }
    iframe{
        width: 100%;
        padding-top: 2*$default-gap;
        padding-bottom: 2*$default-gap;
    }
    .small-header{
        font-weight: bold;
    }
}