<div class="travel-information-content-wrapper">
    <div class="top-text">
        <h3>Travel information</h3>
    </div>
    <div class="content">
        <div class="sub-header">Getting to Poland</div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5048383.322171032!2d13.8516327135875!3d51.84213105724373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47009964a4640bbb%3A0x97573ca49cc55ea!2sPoland!5e0!3m2!1sen!2spl!4v1710967682445!5m2!1sen!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="sub-header">By plane</div>
        <div class="description">Poland has a good connectivity by air with Europe through its <a href="https://www.google.com/maps/place/Port+Lotniczy+GDA%C5%83SK/@54.3770359,18.4700573,17z/data=!3m1!4b1!4m6!3m5!1s0x46fd9e348921e4f1:0x83f4b993dd1f95f8!8m2!3d54.3770328!4d18.4726322!16zL20vMDRybHhu?entry=tts">international airport.</a></div>
        <div class="sub-header">By train</div>
        <div class="links-list">
            <ul>
                <li>The main train stations in Poland are: „Warszawa Centralna Train Station”, „Kraków Główny Train Station” and „Gdańsk Główny Train Station” with national and international connections.</li>
                <li>For further information visit the <a href="https://www.intercity.pl/en/">PKP Intercity website.</a></li>
            </ul>
        </div>
    </div>
</div>