<figure class="fig">
    <table class="table table-striped align-middle">
        <thead>
            <tr class="table-primary-custom">
                <th scope="col">Registration type</th>
                <th scope="col">Payment deadline</th>
                <th scope="col">Regular participants</th>
                <th scope="col">Active AIS members and students</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Presenting author <br> (for Paper, Poster, or Journal-first Paper)</td>
                <td>June 30</td>
                <td>EUR {{tickets[0].Fullprice}}</td>
                <td>EUR {{tickets[0].DiscountedPrice}}</td>
            </tr>
            <tr>
                <td scope="row">Discounted fee for additional paper <br> (Paper, Poster, or Journal-first Paper)</td>
                <td colspan="3">EUR {{tickets[1].Fullprice}}</td>
            </tr>
            <tr>
                <td scope="row">Extra page <br> (only one permitted per paper)</td>
                <td colspan="3">EUR {{tickets[2].Fullprice}}</td>
            </tr>
            <tr>
                <td scope="row">Non-presenting participant - early bird registration<br> (including non-presenting authors) </td>
                <td>July 21</td>
                <td>EUR {{tickets[4].Fullprice}}</td>
                <td>EUR {{tickets[4].DiscountedPrice}}</td>
            </tr>
            <tr>
                <td scope="row">Non-presenting participant - late registration <br> (including non-presenting authors) </td>
                <td>August 11</td>
                <td>EUR {{tickets[3].Fullprice}}</td>
                <td>EUR {{tickets[3].Fullprice}}</td>
            </tr>
        </tbody>
    </table>
</figure>
