<isd-page-header title="ISD Registration" [ngStyle]="{'background-color': 'rgb(202, 202, 202)'}"></isd-page-header>
<div class="container">
  <div class="side-bar-organizer">Please read the fee structure and registration details carefully before proceeding to registration. Double-check that your e-mail is correct. The bank <b> account number</b> to which the fee is to be paid shall be <b>included</b> in the confirmation of registration.</div>  
  <div class="checkout mt-2">
  <isd-form></isd-form>
  </div>
  <div class="top">
    <isd-accordion></isd-accordion>
  </div>
</div>
