@import '../../../../styles/isd-variables.scss';
@import '../../../../styles/isd-mixins.scss';

.carousel-container{
 
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    position:relative;
    margin:auto;
    text-align:center;
    border-radius: .5rem 0 0 .5rem;

    .history-tile{
        display:none;
        border-radius:15px;
    } 
    
    .tile-active{
        display:inherit;
        grid-column-start: 2;
        text-align: left;
        width:100%;
    }

    .event-paragraph {
        @include simpleFlexLayout($direction: row, $gap: 0.5*$default-gap);
        max-width: 80vw;
    }

    .carousel-dot-container{
        position:absolute;
        right:0;
        left:0;
        bottom:0;
        justify-content: center;
        padding:0;
        margin-bottom: -3rem;
    }

    .dot{
        cursor:pointer;
        height: 13px;
        width: 13px;
        margin: 0 5px;
        background-color: #0b6ec7;
        border-radius: 50%;
        display:inline-block;
        transition: opacity 0.6s ease;
        opacity:0.5;
    }

    .active,
    .dot:hover{
opacity:1;
    }

    .fade2{
        animation-name: fade;
        animation-duration: 0.5s;
    }

    @keyframes fade{
        from{
            opacity:0.4;
        }
        to{
            opacity:1;
        }
    }

  .btn-carousel{
        grid-row-start: 1;
        align-items: center;
        justify-content: center;
        align-self: center; 
        justify-self: center; 
        padding:0;
        color:#000;
        text-align: center;
        background: 0 0;
        border:0;
        cursor:pointer;
    }

    .btn-prev{
        grid-column-start: 1;
    }

    .btn-next{
        grid-column-start: 3;
    }

    .icon-carousel{
        color:#000;
        opacity: 0.5;
        transition: all 0.15s ease;
    }

    .icon-carousel:hover{
        opacity:0.9;
    }

    .icon-carousel:active{
        opacity:0.5;
    }

    .icon-prev, .icon-next{
        font-size:35px;
    }

    @media only screen and (max-width: 768px) {
        .carousel-dot-container{
            display: none;
        }
        .icon-prev, .icon-next{
            font-size:15px;
        }
    
    }

}


