<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Conference fees
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Conference fees are in Euros (EUR) and and vary depending on the type of participation. Each registration includes social events, lunches, and a gala dinner. Accompanying persons ought to register as non-presenting participants.
          <isd-table></isd-table>
          The dates included in the table are based on the Universal Time Coordinated (UTC) and the time when your payment is credited to our account, so please do not leave registration until the last minute.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Registration details
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
          <p class="mt-2">Each paper must be presented by a registered participant (“presenting author”). Presenting authors do not have early or late registration, they must register by the specified dates, indicating the papers they plan to present.</p>
          <h6 class="fw-semibold">Multiple authors of a paper</h6>
          <p>If more authors of the same paper attend the conference, the additional authors will register as non-presenting participants, with a discounted rate and having an option for late registration.</p>
        
          <h6 class="fw-semibold">Authors with multiple papers</h6>
          <p>Only papers delivered at a session following the conference’s schedule by a registered presenting author will be included in the conference proceedings. Each paper (regardless of the type) of the same presenting author shall be subject to a fee (see table above). To diversify participation, there is a limit of no more than three presentations for a presenting author, regardless of the paper category.</p>
        
          <h6 class="fw-semibold">Are you an AIS member?</h6>
          <p>To check your AIS Membership Code, go to <a class="fw-semibold" href="https://aisnet.org">https://aisnet.org</a> , log in, and then under profile settings at the top of the page go to Invoices -> Membership respectively. From this level you can view/print your Membership Card.</p>
        
          <img class="AIS rounded img-thumbnail mx-auto d-block" src="https://isd2024.ug.edu.pl/wp-content/uploads/image.png" alt="AIScard">

          <p>As an affiliated conference of the Association for Information Systems, all academic and student registrants to the ISD 2024 conference are encouraged to join AIS if they are not members already. In addition to receiving a discount on registration for this conference, AIS members receive many benefits throughout the year. If you want to sign up or you are a past member and need to renew, please <a class="fw-semibold" href="https://aisnet.org/general/register_member_type.asp">CLICK HERE</a>  to learn more and to join/renew.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Cancellation and refund policy
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p><b>Presenting authors</b> cannot cancel their registration.</p>
          <p><b>Non-presenting participants</b> can cancel their registration no later than July 25th, with a cost of 75 EUR due to currency exchange rates and administrative work.</p>
          <p>The conference allows for delegating a co-author to take over the presentation in case a registered author becomes unavailable, provided that:</p>
          <ul>
            <li>the three-presentation-policy-limit is adhered to</li>
            <li>we have been notified beforehand that the replacement of a presenting author is taking place.</li>
          </ul> 
          <p>Should the substituted author use any discounts, the substituting author must be entitled to at least the same level of discounts or the difference in fee level has to be covered. To make a substitution or cancellation request, please contact anna.wesierska (at) ug.edu.pl directly. However, please note that successful coordination of absences and replacements rests on the authors. Papers not presented at the conference will be removed from the proceedings and non-shows will not be reimbursed.</p>
        </div>
      </div>
    </div>
  </div>