@import '../../../styles/isd-variables.scss';
@import '../../../styles/isd-mixins.scss';


.wrapper{
    width:100%; //stretch the header so the bar looks okay when scrolling up
    position:fixed;
z-index: 1; //display header above anything else
transition: 0.3s ease;
visibility: hidden; //by default, the header is invisible, the .visible class handles making it visible
top: -100px; 
background-color: $white-darker;

.isd-header {  
    
    width:92%; 
    $logo-size: 70px;
    $padding-value: 4em;
    @include simpleFlexLayout($direction: row, $gap: 0);

    .logo {
        @include simpleFlexLayout($direction: row, $gap: 0);
        width: min(450px, 90%);
        .rectangle {
            background-color: $primary-bg-color;
            width: 30%;
        }
        .logo-container {
            background-color: $primary-bg-color;
            display: grid;
            place-items: center;
            padding-right: 1rem;
            .isd-logo {
                max-height: $logo-size;
                @include addOpacityTransition();
            }
        }
    }

    .burger-wrapper {
        background-color: $primary-bg-color;
        display: grid;
        padding: 0 $default-gap;
        align-items: center;
        justify-items: end;
    }

    .triangle {
        $triangle-size: calc($logo-size + 2rem);
        width: 0; 
        height: 0; 
        border-left: $triangle-size solid  $primary-bg-color; 
        border-right: $triangle-size solid transparent; 
        border-top: $triangle-size solid transparent;
    }
    
}
}

.visible{
    visibility:visible;
    top: 0px 
}

