@import '../../../styles/isd-variables.scss';
@import '../../../styles/isd-mixins.scss';

.isd-header {
    $logo-size: 70px;
    $padding-value: 4em;
    @include simpleFlexLayout($direction: row, $gap: 0);

    .rectangle {
        background-color: $primary-bg-color;
        padding: 0 $padding-value;
    }
    .logo-container {
        background-color: $primary-bg-color;
        .isd-logo {
            max-height: $logo-size;
            @include addOpacityTransition();
        }
    }

    .triangle {
        $triangle-size: calc($logo-size + 1em);
        width: 0; 
        height: 0; 
        border-left: $triangle-size solid  $primary-bg-color; 
        border-right: $triangle-size solid transparent; 
        border-top: $triangle-size solid transparent; 
    }
    
}
