@import '../../../styles/isd-variables.scss';

.nav-list {
    font-family: $primary-font;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    .nav-item {
        padding: 1em 1.2em;
        &-dropdown {
            
        }
    }

    .nav-link {
        $transition-time: .2s;
        position: relative;       
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2;
            width: 100%;
            padding: 1px;
            border-radius: .5rem;
            opacity: 0;
            scale: 0;
            background-color: $primary-bg-color;
            transition: scale $transition-time, opacity $transition-time;
            will-change: scale, opacity;
        }
        
        &-active {
            &::before {
                scale: 1;
                opacity: 1;
            }
        }

        

        &:hover {
            &::before {
                opacity: 1;
                scale: 1;
            }
            color: #333;
            cursor: pointer;
        }
    }

    .nav-link-dropdown {
        
        &:hover {
            cursor: pointer;
            .nav-dropdown {
                display: flex;
                flex-direction: column;
                scale: 1;
                opacity: 1;
            }
        }
    }
    .nav-dropdown {
        $transition-time: .2s;
        scale: 0;
        opacity: 0;
        display: none;
        transform-origin: top;
        transition: scale $transition-time, opacity $transition-time;
        will-change: scale, opacity;
        &-item {
            padding: .5rem;                
        }
        // &::before {
        //     scale: 1;
        //     opacity: 1;
        // }
    }
}


