<nav>
    <ul class="nav-list">
        <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <span class="nav-link-dropdown">Submissions</span>
            <ul class="nav-dropdown">
                <li class="nav-dropdown-item">
                    <a routerLink="/call-for-papers">Call for Papers</a>
                </li>
                <li class="nav-dropdown-item">
                    <a routerLink="/tracks">Tracks</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a routerLink="/history" class="nav-link">ISD History</a>
        </li>
        <li class="nav-item">
            <a routerLink="/committees" class="nav-link">Committees</a>
        </li>
        <li class="nav-item">
            <a routerLink="/location" class="nav-link">Location</a>
        </li>
    </ul>
</nav>