<div class="burger" (click)="onBurgerClickHandler()">
    <span 
        [ngStyle]="{'background-color': barsColor}" 
        class="bar" 
        [ngClass]="getAnimationClass('top-bar')">
    </span>
    <span
        [ngStyle]="{'background-color': barsColor}" 
        class="bar" 
        [ngClass]="getAnimationClass('middle-bar')">
    </span>
    <span
        [ngStyle]="{'background-color': barsColor}" 
        class="bar" 
        [ngClass]="getAnimationClass('bottom-bar')">
    </span>
</div>
