@import '../../../../styles/isd-variables.scss';
@import '../../../../styles/isd-mixins.scss';


.history-tile {
    border-left: solid black 1px;
    border-radius: .5rem 0 0 .5rem;
    padding-left: .5rem;

    .homepage-link {
        color: $primary-bg-color;
        @include hoverEffect() {
            text-decoration: underline;
        }
    }
    
    .event-paragraph {
        @include simpleFlexLayout($direction: row, $gap: 0.5*$default-gap);
    }
}
