<header class="isd-header" id="top">
    <div class="logo">
        <div class="rectangle"></div>
        <div class="logo-container">
            <a routerLink="/">
                <img src="assets/isd-logo-white.png" class="isd-logo" alt="No image provided">
            </a>
        </div>
        <div class="burger-wrapper" *ngIf="displayBurgerNav()">
            <isd-burger></isd-burger>
        </div>
        <div class="triangle">
        </div>
    </div>
    <isd-nav></isd-nav>
</header>
