@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

$primary-bg-color: #0b6ec7;
$primary-font: 'Poppins';

// font-sizes
$font-size-huge: 2em;
$font-size-bigger: 1.5em;
$font-size-big: 1.2em;
$font-size-normal: 1em;
$font-size-small: .8em;
