@import '../../../styles/isd-variables.scss';


.isd-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .section-content {
        width: $content-width;
        padding: 0 $default-gap;
    }
}
