@import '../../styles/isd-variables.scss';
@import '../../styles/isd-mixins.scss';

.isd-committees-wrapper {
    display: grid;
    place-items: center;
    .isd-committees {
        width: 100%;
        .section-title {
            font-size: $font-size-big;
        }

        .isd-committees-content-wrapper {
            display: grid;
            grid-template-columns: 1fr 4fr;
            justify-items: baseline;

            .side-nav {
                height: max-content;
            }
        }

        
    }
}

