<div class="isd-committees-wrapper">
    <div class="isd-committees">
        <isd-page-header title="Committees"></isd-page-header>
        <div class="isd-committees-content-wrapper">
            <isd-side-nav>
            </isd-side-nav>
            <div class="isd-committees-content">
                <isd-section>
                    <isd-section-header class="committee-title">
                        Organizing Committee
                    </isd-section-header>
                    <isd-chairs-list [chairs]="CHAIRS" id="organizing-committee"></isd-chairs-list>
                </isd-section>
            </div>
        </div>
    </div>
</div>
