<nav>
    <ul class="nav-list" *ngIf="!displayBurgerNav()">
        <ng-container *ngFor="let navItem of NAV_ITEMS">
            <ng-container *ngIf="isDefaultItem(navItem.item); else isDropdown">
                <isd-nav-item [navItem]="getNavDefaultItem(navItem)"></isd-nav-item>
            </ng-container>
            <ng-template #isDropdown>
                <isd-nav-dropdown-item [navItem]="getNavDropdopdownItem(navItem)"></isd-nav-dropdown-item>
            </ng-template>
        </ng-container>
    </ul>
    <isd-burger-nav *ngIf="displayBurgerNav()"></isd-burger-nav>
</nav>
