@import './app/styles/isd-variables.scss';

body {
    padding: 0;
    margin: 0;
    font-family: $primary-font;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    &:visited {
        color: inherit;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
