@import '../../styles/isd-variables.scss';
@font-face {
    font-family:"veneer-two";
    src:url("https://use.typekit.net/af/ae874d/0000000000000000774ba0e4/30/l?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ae874d/0000000000000000774ba0e4/30/d?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ae874d/0000000000000000774ba0e4/30/a?primer=f592e0a4b9356877842506ce344308576437e4f677d7c9b78ca2162e6cad991a&fvd=n4&v=3") format("opentype");
    font-display:block;font-style:normal;font-weight:400;font-stretch:normal;
    }

.video-header {
    position: relative;
    height: 40vh;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .custom-header {
            //font-family: 'veneer-two', 'Poppins' !important;
            font-weight: 400;
            font-style: normal;
            font-size: 4em;
            text-transform: none;
            color: $white;
            text-align: center;
            padding-top: 5rem;

            font-family: "veneer-two", 'Poppins' !important;
        }
    }
}

.venue-info,
.how-to-reach,
.about-venue {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    h2, h3 {
        font-family: $primary-font;
        margin-bottom: 1rem;
    }

    p {
        font-family: $lato;
        margin-bottom: 0.5rem;
        color: $black;
    }

    a {
        color: $primary-dark-bg-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.map-container {
    iframe {
        width: 100%;
        border: 0;
        border-radius: 0.5rem;
        height: 450px;
    }
}

.accordion-button {
    background-color: $primary-darker-bg-color;
    color: $white;

    &:not(.collapsed) {
        color: $white;
        background-color: #800080;
    }
}

.accordion-body {
    font-family: $lato;
    color: $black;
}
