
    <div class="isd-history">
      <div class="top-text">
        ISD History
      </div>
      <div class="text-wall">
        The <strong>International Conference on Information Systems Development </strong>is an academic conference hosted annually across different locations worldwide, where scientists and practitioners are welcome to participate and share their knowledge and expertise in the field of information systems development. During its history, the conference has focused on different aspects – ranging from methodological, 
        infrastructural, or educational challenges in the ISD field, to bridging the gaps between industry, academia, and society. However, 
        the mission of the conference has remained the same throughout its time: to research,
        share, and discuss developments and trends in Information Systems and Information Systems Development.
        <br><br>
        Demanding high-quality standards, the organizers and reviewers put the quality of submitted papers over quantity, which has kept the conference size at an intimate level with an average of 100 papers, and where each researcher receives a significant audience.
        <br><br>
        
        As an Affiliated Conference of the Association for Information Systems (<a href="https://aisnet.org/page/AffiliatedConference">AIS</a>), the ISD conference has strong connections within the international information systems community.
        <br><br>
        
        ISD evolved from the first Polish-Scandinavian Seminar on Current Trends in Information Systems Development Methodologies, held in Gdańsk, Poland in 1988. Since 1997 it has been held as an annual international conference and is now a highly regarded specialist IS conference. The list below offers essential information on the various conference editions.
        <br><br>
        
        <div class="hosting"><strong>Hosting Future Conferences</strong></div>   
        <br><br>
        The International Steering Committee welcomes proposals for hosting future ISD conferences. For further information, 
        please contact the International Steering Committee.
      </div>

      <div class="more-text">
        <hr/>
      </div>

    </div>