@import "../../styles/isd-variables.scss";
@import "../../styles/isd-mixins.scss";

.isd-history {
    font-family: $primary-font;
    .top-text {
        font-size: $font-size-huge;
        font-weight: bold;
        font-family: $roboto-header;
        text-align: center;
        padding: $content-gap-from-nav 0 45px 0;
    }

    .sections-separator {
        width: calc($content-width - 2 * $default-gap);
        background-color: black;
        height: 2px;
        border: none;
    }

    .contact-link {
        color: #6900ff;
    }

    .entry-wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
}
