<div class="visa-requirements-page-content-wrapper">
    <div class="top-text">
        <h3>Visa requirements</h3>
    </div>
    <div class="content">
        <div class="description">
            Please contact organizer as soon as possible. Conference organizers will ONLY deliver all documents necessary for visa application to the authors of accepted papers that have paid the registration. Conference organizers are not responsible for failing to comply with visa requirements of the Polish authority.
        </div>
        <br>
        <div class="links-text">
            <div class="small-header">
                Some useful links:
            </div>
            <div class="links-list">
                <ul>
                    <li><a href="https://www.gov.pl/web/diplomacy" style="color: #00277c">Ministry of foreign affairs</a></li>
                    <li><a href="https://www.gov.pl/web/mswia-en" style="color: #00277c">Ministry of the Interior and Administration</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</div>